{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Create a new Recipe</h1>
        </div>
        <div class="col-lg-12">
            <a href="{{ path('show_all_recipe') }}" class="btn btn-lg btn-success">Show existing recipes</a>
        </div>
        <p></p>
    </div>
</div>
    <div class="container">
            <div class="example-wrapper">
                {{ form_start(formrecipe, {attr: {role: 'form-group', 'multipart': true}}) }}
                <div class="col-lg-6">
                    <h5>{{ form_label(formrecipe.title) }}</h5>
                    {{ form_widget(formrecipe.title, {attr: {name: 'title', class: 'form-group'}}) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(formrecipe.recipeimage) }}
                    {{ form_widget(formrecipe.recipeimage, { attr: {class: 'form-control'}}) }}
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_label(formrecipe.difficulty) }}
                        {{ form_widget(formrecipe.difficulty, { attr: {class: ''}}) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_label(formrecipe.coocking_time) }}
                        {{ form_widget(formrecipe.coocking_time, { attr: {class: ''}}) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_label(formrecipe.preparation_time) }}
                        {{ form_widget(formrecipe.preparation_time, { attr: {class: ''}}) }}
                    </div>
                </div>
                <hr>
                    <p></p>
                    <div class="container-fluid">
                        <div class="col-md-6 mx-auto"><h3>{{ form_label(formrecipe.ingredients, 'Ingrédients:') }}</h3></div>
                    </div>

                    <div class="container js-genus-scientist-wrapper" data-prototype="{{ form_widget(formrecipe.ingredients.vars.prototype)|e('html_attr') }}"  data-index="{{ formrecipe.ingredients|length }}">
                               <div class="col-lg-12">
                                   {% for formingredients in formrecipe.ingredients %}

                                       {{ form_label(formingredients.title) }}
                                       {{ form_widget(formingredients.title, {attr: {class: ''}}) }}

                                       {{ form_label(formingredients.quantity) }}
                                       {{ form_widget(formingredients.quantity, {attr: {class: ''}}) }}

                                   {% endfor %}
                               </div>

                        <div class="col-lg-12">
                            <a href="#" class="js-genus-scientist-add btn-primary btn">
                            <span class="fa fa-plus-circle"></span>
                            Add a new ingredient
                            </a>
                        </div>
                    </div>
                <p></p>
                <hr>
                <p></p>
                <div class="container-fluid">
                    <div class="col-md-6 mx-auto"><h3>{{ form_label(formrecipe.makings, 'Step of preparation:') }}</h3></div>
                </div>
                <div class="container js-makings-wrapper" id="makings"
                     data-prototype="{{ form_widget(formrecipe.makings.vars.prototype)|e('html_attr') }}"
                     data-index="{{ formrecipe.makings|length }}">
                    <div class="container">
                        <div class="row">
                            {% for making in formrecipe.makings %}
                                <br>
                                {{ form_label(making.stepmaking) }}
                                {{ form_widget(making.stepmaking, {attr: {name: 'title', class: 'form-group'}}) }}
                                <p></p>
                                 {{ form_label(making.ordermaking) }}
                                 {{ form_widget(making.ordermaking,  {'type' : 'range', 'attr' : {'min' : "0", 'maxlength' : "50", "step" : "1" } }) }}
                            {% endfor %}
                        </div>
                        <p></p>
                        <a href="#" class="btn-primary btn js-makings-add">
                            <span class="fa fa-plus-circle"></span>
                            Add  making step of (preparation)
                        </a>
                    </div>
                </div>
                <p></p>
                <hr>
                <p></p>

                <div class="container">
                    <div class="col-lg-12">
                        <h5>{{ form_label(formrecipe.personal_note) }}</h5>
                    </div>
                    <div class="col-lg-12">
                        {{ form_widget(formrecipe.personal_note) }}
                    </div>
                </div>
                <p></p>
                <hr>
                <p></p>
                {#        {{ form_rest(formrecipe) }}#}

                <button type="submit" class="btn btn-danger btn-xs" id="bouton_form">Create new recipe</button>
                {{ form_end(formrecipe) }}
            </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/recipe.js') }}"></script>

{% endblock %}