{% extends 'base.html.twig' %}

{% block title %}Update Recipe!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Update Recipe API</h1>
                <a href="{{  path('show_all_recipe') }}">Show all recipes</a>
                <a href="{{  path('create_recipe') }}">Create a new recipe</a>
                <a href="{{  path('remove_this_repice',{'id': id_repice }) }}">Delete this recipe</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ form_start(formUpdateRecipe, {attr: {role: 'form-group', 'multipart': true}}) }}
            <br>
            {{ form_label(formUpdateRecipe.title) }}
            {{ form_widget(formUpdateRecipe.title, {attr: {name: 'title', class: 'form-group'}}) }}
            <br>

            {{ form_label(formUpdateRecipe.recipeimage) }}
            {{ form_widget(formUpdateRecipe.recipeimage, { attr: {class: 'form-group'}}) }}
            <br>

            {{ form_label(formUpdateRecipe.difficulty) }}
            {{ form_widget(formUpdateRecipe.difficulty, { attr: {class: 'form-control'}}) }}
            <br>

            {{ form_label(formUpdateRecipe.coocking_time) }}
            {{ form_widget(formUpdateRecipe.coocking_time, { attr: {class: 'form-control'}}) }}
            <br>

            {{ form_label(formUpdateRecipe.preparation_time) }}
            {{ form_widget(formUpdateRecipe.preparation_time, { attr: {class: 'form-control'}}) }}
            <br>

            {{ form_label(formUpdateRecipe.personal_note) }}
            {{ form_widget(formUpdateRecipe.personal_note, { attr: {class: 'form-control'}}) }}
        </div>
    </div>
    <h5>Ingrédients</h5>
    <div class="accordion" id="accordionExampleIngredients">
        {% for formingredients in formUpdateRecipe.ingredients %}
        {% set id_ingredient = formingredients.vars.value.id %}
          <div class="card" id="blockingredient">
            <div class="card-header" id="headingOne{{ id_ingredient }}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne{{ id_ingredient }}" aria-expanded="true" aria-controls="collapseOne{{ id_ingredient }}">
                  <div class="container">
                      {{ formingredients.vars.value.title }}
                  </div>
                </button>
              </h2>
            </div>

            <div id="collapseOne{{ id_ingredient }}" class="collapse" aria-labelledby="headingOne{{ id_ingredient }}" data-parent="#accordionExampleIngredients">
              <div class="card-body">
                      <span>Name: </span>
                      {{ form_widget(formingredients.title, {attr: {class: ''}}) }}
                      <span>Quantity: </span>
                      {{ form_widget(formingredients.quantity, {attr: {class: ''}}) }}
                  <p></p>
                  <button class="btn btn-danger" type="button" onclick="deleteThisElement({{ id_ingredient }}, 'ingredient')">Suppress this ingredient</button>
              </div>
{#                <a href="{{ path('remove_this_element', { 'type' : 'ingredient' , 'id' : id_ingredient }) }}" class="btn btn-sm btn-info">Suppress this ingredient</a>#}
              </div>
            </div>
        {% endfor %}
    </div>
    <p></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add a new Ingredient
    </button>
    <hr>
    <p></p>
    <h5>Steps for preparation</h5>
    <div class="accordion" id="accordionExampleMaking">
        {% for making in formUpdateRecipe.makings %}
            {% set idmaking = making.vars.value.id %}
            <div class="card"  id="blockmaking">
                <div class="card-header" id="headingOne{{idmaking}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne{{idmaking}}" aria-expanded="true" aria-controls="collapseOne{{idmaking}}">
                            Step of preparation n° {{ idmaking }}
                        </button>
                    </h2>
                </div>

                <div id="collapseOne{{idmaking}}" class="collapse" aria-labelledby="headingOne{{idmaking}}" data-parent="#accordionExampleMaking">
                    <div class="card-body">

                        {{ form_label(making.stepmaking) }}  <a href="{{ path('remove_this_element', { 'type' : 'makings' , 'id' : idmaking }) }}" >Suppress this step</a>
                        {{ form_widget(making.stepmaking, { attr: {class: 'form-control'}}) }}
                        <br>
                        <span>{{ form_label(making.ordermaking) }}</span>
                        {{ form_widget(making.ordermaking,  {'type' : 'range', 'attr' : {'min' : "0", 'maxlength' : "50", "step" : "1" } }) }}
                        <br>
                        <button class="btn btn-danger" type="button" onclick="deleteThisElement({{ idmaking }},'making')">Suppress this Step</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p></p>
     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalMakings">
      Add another step of preparation
    </button>
    <hr>
    <div class="container">
        <div class="row">
            <button type="submit" class="btn btn-danger btn-lg" id="bouton_form" >Update this  recipe</button>
        </div>
    </div>
    {{ form_rest(formUpdateRecipe) }}
    {{ form_end(formUpdateRecipe) }}

            <!-- Modal ingredients-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingredient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        {{ form_start(newformingredient, {attr: {role: 'form-group', 'multipart': true}}) }}
                        <span>{{ form_label(newformingredient.title) }}</span>
                        {{ form_widget(newformingredient.title, {attr: {class: '', required: true}}) }}
                        <br>
                        <span>{{ form_label(newformingredient.quantity) }}</span>
                        {{ form_widget(newformingredient.quantity, {attr: {class: ''}}) }}
                        {{ form_rest(newformingredient) }}

{#                      <button class="btn btn-danger" type="submit" id="btnsubmitingredient" onclick="AddThisElement()">Create a new Ingredient ?</button>#}
                      {{ form_end(newformingredient) }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

             <!-- Modal makings-->
            <div class="modal fade" id="exampleModalMakings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelMakings" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelMakings">New Step of preparations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        {{ form_start(newformmakings, {attr: {role: 'form-group', 'multipart': true}}) }}
                        <span>{{ form_label(newformmakings.stepmaking) }}</span>
                        {{ form_widget(newformmakings.stepmaking, {attr: {class: ''}}) }}
                        <br>
                        <span>{{ form_label(newformmakings.ordermaking) }}</span>
                        {{ form_widget(newformmakings.ordermaking, {attr: {class: ''}}) }}
                        {{ form_rest(newformmakings) }}
                        {{ form_end(newformmakings) }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $('#formnemaking').submit(function(e) {
            e.preventDefault();
            var url = "{{ path('add_new_stepmaking',{'id': 'idElement' }) }}";
            var finalPath = url.replace("idElement", {{ id_repice }});

            var redirection = "{{ path('update_recipe', {'id' : 'idRecipe' }) }}";
            var pathredir = redirection.replace("idRecipe", {{ id_repice }});

            var donnees = $( this ).serialize();
            setTimeout(null,1000);
            $.post({
                type: 'POST',
                url: finalPath,
                dataType: 'json',
                data : donnees,
                success: function(response) {
                    if(response === true){
                        alert('a new stepmaking has been Added');
                        $('#accordionExampleMaking').load(' #blockmaking ', function(){onceLoaded(making)});
                        window.location.href = pathredir;
                    }

                },
                error: function (response, desc){
                    if (response.responseJSON && response.responseJSON.message) {
                        alert(response.responseJSON.message);
                    }else{
                        alert(desc);
                    }
                }
            });
        });

        $('#formneingredient').submit(function(e) {
            e.preventDefault();
            var url = "{{ path('add_new_element',{'id': 'idElement' }) }}";
            var finalPath = url.replace("idElement", {{ id_repice }});

            var redirection = "{{ path('update_recipe', {'id' : 'idRecipe' }) }}";
            var pathredir = redirection.replace("idRecipe", {{ id_repice }});

            var donnees = $( this ).serialize();
            $.post({
                type: 'POST',
                url: finalPath,
                dataType: 'json',
                data : donnees,
                success: function(response) {
                    if(response === true){
                        alert('a new ingredient has been Added');
                        $('#accordionExampleIngredients').load(' #blockingredient ');
                        window.location.href = pathredir;

                    }

                },
                error: function (response, desc){
                    if (response.responseJSON && response.responseJSON.message) {
                        alert(response.responseJSON.message);
                    }else{
                        alert(desc);
                    }
                }
            });
        });

        function deleteThisElement(id,type){

            var url = "{{ path('remove_this_element',{'id': 'idElement' ,'type': 'typstring'}) }}";
            var idreplaced = url.replace("idElement",id);
            var typereplaced = idreplaced.replace("typstring",type);

            var redirection = "{{ path('update_recipe', {'id' : 'idRecipe' }) }}";
            var pathredir = redirection.replace("idRecipe", {{ id_repice }});

            $.post({
                type: 'POST',
                url: typereplaced,
                dataType: 'json',
                success: function(response) {
                    if(response === 'ingredient'){
                        $('#accordionExampleIngredients').load(' #blockingredient ');
                        alert('The ingredient has been removed');
                        window.location.href = pathredir;

                    }

                    if(response === 'making'){
                        $('#accordionExampleMaking').load(' #blockmaking ', function(){onceLoaded(type)});
                        // $('div#accordionExampleIngredients').load(' #blockmakings', function(){onceLoaded('ingredient')});
                        alert('The Making has been removed');
                        window.location.href = pathredir;

                    }

                },
                error: function (response, desc){
                    if (response.responseJSON && response.responseJSON.message) {
                        alert(response.responseJSON.message);
                    }else{
                        alert(desc);
                    }
                }
            });
        }
        function onceLoaded(type)
        {
            if(type === 'making'){

                var blocs = document.getElementById('accordionExampleMaking');
                var elements = blocs.getElementsByTagName("textarea");
                for(var i=0; i<elements.length; i++)
                {
                    var textimageId = document.getElementById(elements[i]);
                    CKEDITOR.replace(elements[i].getAttribute('id'));
                }
            }
        }

    </script>
{% endblock %}