{% extends 'base.html.twig' %}

{% block title %}Show Recipes{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col-lg-12">
        <h1>Recipes API</h1>
        <a href="{{ path('create_recipe') }}" class="btn btn-lg btn-success">Create a new recipe</a>
    </div>
        {% if recipes is not null %}
        {%  for recipe in recipes %}
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h5 class="display-4">{{ recipe.title }}</h5>
                    <div class="row">
                        <img src="{{ asset('files/' ~ recipe.recipeimage|e) }}" alt="">
                    </div>
                    <hr class="my-4">

                    <div class="row">
                        <div class="col-lg-2"><p class="lead">Coocking time: {{ recipe.getcoockingtime|format_datetime('none', 'short', locale='fr') }}</p></div>
                        <div class="col-lg-2"><p class="lead">Prepratation time: {{ recipe.getpreparationtime|format_datetime('none', 'short', locale='fr') }}</p></div>
                        <div class="col-lg-2"><p class="lead">Difficulty level: <strong>{{ recipe.difficulty }}</strong></p></div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <span class="lead">Ingredients list:</span>
                        <p></p>
                        <p></p>
                        <div class="row">
                            {%  for ingredient in recipe.ingredients %}
                                <div class="col-lg-12"><span><strong>Ingredient:</strong>{{ ingredient.title }}&nbsp;&nbsp;<strong>quantity: {{ ingredient.quantity }}</strong></span></div>
                            {%  endfor %}
                        </div>
                    </div>

                    <hr class="my-4">
                    <p class="row">
                        <span class="lead">Preparation steps:</span>
                        {%  for making in recipe.makings %}
                        <div class="row">
                            <span><strong>{{ making.ordermaking }}</strong></span>&nbsp;:&nbsp;&nbsp;<p>{{ making.stepmaking|raw }}</p>
                        </div>
                        {%  endfor %}
                <br>
                <p></p>
                <hr>
                <p></p>
                    <p class="lead"><span><strong>Personnal Note:</strong></span>
                        <br>
                        <i>"{{ recipe.getpersonalnote }}"</i>
                    </p>

                    <hr class="my-4">

{#                    <a class="btn btn-primary btn-lg" href="{{ path('remove_this_repice', { 'type' : 'ingredient' , 'id' : recipe.id }) }}" role="button">Suppress this Recipe</a>#}

                    <a href="{{ path('remove_this_repice', { 'type' : 'ingredient' , 'id' : recipe.id }) }}" class="btn btn-danger">Suppress this recipel</a>
                    <a href="{{ path('update_recipe', {'id' : recipe.id }) }}" class="btn btn-info">Update this recipe</a>
                </div>
            </div>
        </div>

        {%  endfor %}
        {%  else %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-warning" role="alert">
                            No recipes for now
                        </div>
                        <a href="{{ path('create_recipe') }}" class="btn btn-lg btn-success">Create a new recipe ?</a>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}